*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 1140px;
  margin: auto;
  padding: 133px 30px;
}

.content__details {
  height: 534px;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.result__video {
  width: 711px;
  height: 386px;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
}